name: Auto Dev Version Bumper

on:
    push:
        branches:
            - master
permissions:
    contents: write 

jobs:
    version-bump:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0 
                    persist-credentials: true

            -   name: Run auto-dev-version-bumper
                if: ${{ !contains(github.event.head_commit.message, 'Bump version to') && !contains(github.event.head_commit.message, 'Update badge') && !contains(github.event.head_commit.message, 'no bump') }}
                uses: LorenzoMugnai/auto-dev-version-bumper@1.1
                with:
                    dev_suffix: "-beta"
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
                    GITHUB_SHA: ${{ github.event.after }}
                    
            -   name: Read version
                id: read_version
                run: echo "VERSION=$(cat version)" >> $GITHUB_ENV

            -   name: Update README badge
                run: |
                    VERSION=$(cat version)
                    README="README.md"
                    sed -i "s|\\(https://img.shields.io/static/v1?label=Version&message=\\)[^&]*|\\1$VERSION|g" $README
        
            -   name: Ensure Git permissions
                run: sudo chmod -R u+rw .git
        
            -   name: Commit and push updated README
                run: |
                    git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
                    git config --global user.name "github-actions[bot]"
                    git add README.md
                    git commit -m "Update badge" || echo "No changes to commit"
                    git push origin HEAD
        